* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.nav {
  background-color: #21222a;
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
}

.nav img {
  height: 40px;
  margin-right: 10px;
}

.nav h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
  color: #61dafb;
}

.nav h4 {
  color: #deebf8;
  font-size: 16px;
  font-weight: 600;
}
